@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Spartan', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f8efd4; */
}
.formval {
  width: 25rem;
  margin: 2em;
}
.clr {
  color: #810000;
}
.clr:hover{
  color: #810000;
}
.bclr {
  background-color: #810000;
  color: white;
}
.bclr:hover {
  background-color: #810000;
  color: white;
}
.box {
  border: 3px solid #810000;
  border-radius: 5px;
  width: 30em;
  min-height: 20em;
  text-align: center;
}
.bb {
  display: flex;
  justify-content: center;
}
.point {
  cursor: pointer;
}
.logoutbtn {
  border: none;
}
.wdt {
  width:95%
}